body {
	margin: 0;
	padding: 0;

	
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	font-family: "Roboto",  "Arial", sans-serif;
	color: #ffffff;

	background-color: #849d8f;
}

.background-gray-green {
	background-color: #849d8f;
	background-image: radial-gradient(circle at center 358px, #cff6e1, transparent 523px);
}

.background-gray-purple {
	background-color: #8996a6;
	background-image: radial-gradient(circle at center 326px, #d6ebfc, transparent 533px);
}

.background-gray-brown {
	background-color: #9d8b84;
	background-image: radial-gradient(circle at center 314px, #fae4db, transparent 540px);
}

.inner-page {
	background-color: #849d8f;
	background-image: linear-gradient(to bottom, #9cb0a5 0, #849d8f 650px);
}

a {
	text-decoration: none;
}

.container {
	width: 1146px;
	margin: 0 auto;
	padding: 0 27px;
}

.main-header {
	display: flex;
	flex-direction: column;
}

.main-navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 10px;
}

.main-header-logo {
	width: 154px;
	height: 64px;
	margin-right: 15px;
	
}

.site-navigation {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.site-navigation-item > a {
	line-height: 18px;
	color: #ffffff;
	background-image: linear-gradient(to top, transparent 1px, rgba(255, 255, 255, 0.2) 1px, rgba(255, 255, 255, 0.2) 2px, transparent 2px);
	}

.site-navigation-current > a {
	color: #ffffff;
	background-color: #d07058;
	background-image: none;
	border-radius: 16px;
}

.site-navigation-item > a:hover,
.site-navigation-item > a:focus {
	color: #323232;
	
	background-color: #f7f6f3;
	background-image: none;
	border-radius: 16px;
}

.site-navigation-item > a:active {
	color: #323232;
	background-color: #ededed;
	background-image: none;
	border-radius: 16px;
	box-shadow: inset 0px 2px 1px 0px rgb(105, 105, 105);
}

.catalog-submenu {
	margin: 0;
	padding: 6px 0;
	overflow: hidden;
		
	list-style: none;	
	background-color: #f8f7f4;
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	border-radius: 5px;
}


.catalog-submenu li {
	padding: 3px 0 0 0;
}

.catalog-submenu .new-product {
	position: relative;
	padding-bottom: 3px;
}

.catalog-submenu .new-product::after {
	position: absolute;
	right: 9px;
	bottom: 0;
	left: 6px;
	content: "";
	height: 1px;

	background-color: #d1d0ce;
}

.catalog-submenu a {
	display: block;
	padding: 6px 20px;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #323232;
}

.new-product a {
	font-weight: 700;
}

.catalog-submenu a:hover,
.catalog-submenu a:focus {
	background-color: #fbded7;
}

.catalog-submenu a:active {
	background-color: #f6b5a5;
}

.catalog-submenu-current a,
.catalog-submenu-current a:hover,
.catalog-submenu-current a:focus,
.catalog-submenu-current a:active {
	color: #ffffff;
	background-color: #d07058;
}


.user-navigation {
	display: flex;
	margin: 0;
	margin-left: auto;
	padding: 0;
	list-style: none;
}

.user-search > a,
.user-login > a,
.user-basket >a {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #ffffff;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 16px;
}

.user-basket-full > a {
	color: #323232;
	background-color: #f7f6f3;
}

.user-search > a:hover,
.user-login > a:hover,
.user-basket >a:hover,
.user-search > a:focus,
.user-login > a:focus,
.user-basket >a:focus {
	color: #323232;
	background-color: #f8f7f4;
}


.search-form {
	width: 341px;
	padding: 20px 15px;
	
	background-color: #f8f7f4;
	border-radius: 6px;
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);

}

.search-form input {
	box-sizing: border-box;
	width: 100%;
	font: inherit;
	font-weight: 700;
	line-height: 24px;

	background-color: #ffffff;
	border: 1px solid transparent;
	border-radius: 5px;
	box-shadow: 0 0 0 1px #d3d3d2;
}

.search-form input::-webkit-input-placeholder {
	font-weight: 400;
	color: #999999;
}

.search-form input::-moz-placeholder {
	font-weight: 400;
	color: #999999;
}

.search-form input:-ms-input-placeholder {
	font-weight: 400;
	color: #999999;
}

.search-form input:hover {
	border: 1px solid #c7c6c5;
	box-shadow: 0 0 0 1px #c7c6c5;
}

.search-form input:focus {
	border: 1px solid #8fbdec;
	box-shadow: 0 0 0 1px #8fbdec;
	outline: none;
}

.login-form {
	width: 237px;
	padding: 20px 17px 20px 20px;

	background-color: #f8f7f4;
	border-radius: 6px;
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.login-form input {
	box-sizing: border-box;
	width: 100%;
	font: inherit;
	font-weight: 700;
	line-height: 24px;

	background-color: #ffffff;
	border: 1px solid transparent;
	border-radius: 5px;
	box-shadow: 0 0 0 1px #d3d3d2;
}

.login-form input::-webkit-input-placeholder {
	font-weight: 400;
	color: #999999;
}

.login-form input::-moz-placeholder {
	font-weight: 400;
	color: #999999;
}

.login-form input:-ms-input-placeholder {
	font-weight: 400;
	color: #999999;
}

.login-form input:hover {
	border: 1px solid #c7c6c5;
	box-shadow: 0 0 0 1px #c7c6c5;

}

.login-form input:focus {
	border: 1px solid #8fbdec;
	box-shadow: 0 0 0 1px #8fbdec;
	outline: none;
}

.login-form a {
	font-weight: 400;
	font-size: 13px;
	line-height: 24px;
	color: #323232;
	
	background-image: linear-gradient(to top, transparent 1px, rgba(0, 0, 0, 0.3) 1px, rgba(0, 0, 0, 0.3) 2px, transparent 2px);

}

.login-form a:hover, 
.login-form a:focus,
.login-form a:active {
	color: #e84d37;
	background-image: linear-gradient(to top, transparent 1px,  rgba(236, 89, 60, 0.3) 1px,  rgba(236, 89, 60, 0.3) 2px, transparent 2px);

}


.basket-view {
	width: 510px;
	padding: 20px 15px;
	color: #323232;

	background-color: #f8f7f4;
	border-radius: 5px;
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.basket-list {
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	border-collapse: collapse;
}

.basket-list .table-light {
	color: #999999;
}

.basket-list .basket-total {
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;

	border-top: 1px solid #cacac7;
}

.basket-total td[colspan="4"] {
	text-align: right;
}

.main-header > p {
	display: flex;
	flex-direction: column;
	align-self: flex-end;
	margin: 0;
}

.worktime {
	font-size: 14px;
	line-height: 20px;
	text-align: right;
}

.phone {
	font-size: 22px;
	line-height: 24px;
	text-align: right;
}

.slider-item {
	padding: 0 250px;
	text-align: center;
}

.slider-item:first-child {
	padding: 0 235px;
}

.slider-title {
	padding: 0;
	margin: 0;
	font-size: 60px;
	line-height: 60px;
}

.slider-image {
	margin: 0;
}

.slider-image img {
	width: 647px;
	height: 584px;
}

.slider-button {
	font-size: 32px;
	line-height: 44px;
	color: #ffffff;

	background-color: #ec593c;
	background-image: linear-gradient(to top, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
	border-radius: 29px;
  	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
	text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.slider-button:hover,
.slider-button:focus {
	background-color: #f07a63;
	background-image: linear-gradient(to top, rgb(236, 111, 94) 0%, rgb(245, 134, 105) 100%);
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 1);
}

.slider-button:active {
	background-color: #db5338;
	background-image: linear-gradient(to top, rgb(225, 97, 62) 0%, rgb(215, 70, 50) 100%);
	box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 1);
}

.slider-controls {
	list-style: none;
}

.slide-control {
	width: 17px;
	height: 17px;

	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
}

.slide-control:hover,
.slide-control:focus {
	background-color: rgba(255, 255, 255, 0.4);
}

.slide-control:active {
	background-color: #ffffff;
}

.index-columns {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.promo-list {
	margin: 0;
	padding: 0;
	list-style: none;

}

.promo-item {
	display: flex;
	flex-direction: column;
	width: 520px;
	padding: 18px 20px 24px;


	background-repeat: no-repeat;
	background-position: center;
	border-radius: 16px;
}

.promo-raspberry {
	background-color: #78172b;
	background-image: url("../img/bg-raspberry.jpg");
}

.promo-chocolate {
	background-color: #472c1f;
	background-image: url("../img/bg-chocolate.jpg");
}

.promo-title {
	margin: 0 0 15px 0;

	font-size: 35px;
	line-height: 41px;
}

.promo-description {
	margin: 0 0 45px 0;

	font-size: 18px;
}

.promo .button {
	margin-left: auto;
}

.features {
	padding: 25px 20px;
	margin-bottom: 40px;

	color: #323232;
	background-color: #eee1c6;
	background-image: url("../img/bg-wafer.jpg");
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 16px;
}

.features p {
	font-weight: 500;
	font-size: 24px;
	line-height: 30px;
}

.features-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.feature-item {
	width: 483px;
	margin-rigth: 26px;
	padding-left: 57px;
	padding-bottom: 25px;
	font-weight: 400;
}

.feature-item:nth-child(even) {
	margin-right: 0;
}



.new-post {
	width: 520px;
	padding: 25px 20px;

	background-color: #ffffff;
	background-image: url("../img/bg-strawberry.jpg");
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 16px;
}

.new-post p {
	margin: 0;
	font-weight: 500;
	color: #323232;
}

.new-post-title {
	width: 285px;
}

.new-post-title a {
	font-size: 24px;
	line-height: 30px;
	color: #323232;
	background-image: linear-gradient(to top, transparent 1px, rgba(0, 0, 0, 0.3) 1px, rgba(0, 0, 0, 0.3) 2px, transparent 2px);
}

.new-post-title a:hover,
.new-post-title a:focus,
.new-post-title a:active {
	color: #e84d37;
	background-image: linear-gradient(to top, transparent 1px,  rgba(236, 89, 60, 0.3) 1px,  rgba(236, 89, 60, 0.3) 2px, transparent 2px);
}

.subscription {
	width: 550px;
	padding: 5px;
	background-image: repeating-linear-gradient(135deg, #f8f7f4 2px, #fe9e90 2px, #fe9e90 12px, #f8f7f4 12px, #f8f7f4 22px, #92cdff 22px, #92cdff 32px, #f8f7f4 32px, #f8f7f4 40px);
	border-radius: 16px;
}

.subscription-inner {
	padding: 30px 20px;
	font-weight: 400;
	color: #5a5a5a;
	background-color: #f8f7f4;
	border-radius: 16px;

}

.subscription-form input {
	box-sizing: border-box;
	font: inherit;
	font-weight: 700;
	line-height: 24px;
	color: #323232;
	background-color: #ffffff;
	border: 1px solid transparent;
	border-radius: 5px;
	box-shadow: 0 0 0 1px #d3d3d2;
}


.subscription-form input:hover {
	border: 1px solid #c7c6c5;
	box-shadow: 0 0 0 1px #c7c6c5;
}

.subscription-form input:focus {
	border: 1px solid #8fbdec;
	box-shadow: 0 0 0 1px #8fbdec;
	outline: none;
}


.subscription-form input::-webkit-input-placeholder{
	font-weight: 400;
	color: #999999;
}

.subscription-form input::-moz-placeholder{
	font-weight: 400;
	color: #999999;
}

.subscription-form input:-ms-input-placeholder{
	font-weight: 400;
	color: #999999;
}

.button {
	font: inherit;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	color: #ffffff;
	
	background-color: #ec593c;
	background-image: linear-gradient(to top, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
	border: none;
	border-radius: 22px;
	box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.54);
	
}

.button:hover,
.buton:focus {
	color: #fefefe;

	background-color: #f07a63;
	background-image: linear-gradient(to top, rgb(236, 111, 94) 0%, rgb(245, 134, 105) 100%);
	box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 1);
	outline: none;

}

.button:active {
	color: #fceeec;

	background-color: #db5338;
	background-image: linear-gradient(to bottom, rgb(215, 69, 49) 0%, rgb(225, 97, 62) 100%);
	box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 1);
	outline: none;
}

.map-and-contacts {
	position: relative;
	width: 1200px;
	margin: 0 auto;
}

.map-and-contacts img {
	width: 1200px;
	height: 430px;
}
	

.contacts {
	position: absolute;
	top: 62px;
	right: 27px;
	width: 252px;
	padding: 30px 25px;
	color: #323232;

	background-color: #ffffff;
	border-radius: 15px;
}

.contacts dl {
	margin: 0 0 5px 0;
}

.contacts dt {
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
}

.contacts dt:first-child {
	padding-right: 100px;
}

.contacts dd {
	margin: 0 0 22px 0;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
}

.contacts .contacts-note {
	display: block;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
}



/* Каталог */

.breadcrumbs {
	display: flex;
	margin: 0 0 5px 0;
	padding: 0;
	list-style: none;
}

.breadcrumbs li {
	margin-right: 20px;
}

.breadcrumbs a {
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #ffffff;

	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
	color: #ffbc9e;
	border-bottom-color: rgba(249, 172, 159, 0.3);
}

.breadcrumbs-current a,
.breadcrumbs-current a:hover,
.breadcrumbs-current a:focus,
.breadcrumbs-current a:active {
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #ffffff;

	border: none;
}

.page-title {
	margin: 0 0 25px 0;
	font-size: 35px;
	line-height: 41px;
}

/* Фильтры */
.filters-form {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
}

.filters-form select {
	font: inherit;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff; 

	background-color: rgba(255, 255, 255, 0.2);
	border: none;
	border-radius: 19px;
}

.filters-form select:hover, 
.filters-form select:focus {
	color: #323232;
	outline: none;
}

.filters-form select:focus-within {
	color: #323232;
	background-color: #ffffff;
	outline:none;
}

.filters-form option {
	font: inherit;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #323232;
}

/* Разобраться со стилизацией выпадающего списка */

.filters-form fieldset {
	background-color: rgba(255, 255, 255, 0.2);
	border: none;
	border-radius: 19px;
}

.filters-form input[type="radio"] + label,
.filters-form input[type="checkbox"] + label {
	font-size: 16px;
	line-height: 18px;
}

.filter-button {
	font: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	color: #ffffff;

	background-color: rgba(255, 255, 255, 0.2);
	border: none;
	border-radius: 22px;
	box-shadow: inset 0 0 0 2px  #fbfcfb;
}

.filter-button:hover,
.filter-buton:focus {
	color: #323232;
	background-color: #fbfcfb;
	outline: none;
}

.filter-button:active {
	background-color: #eaeaea;
	box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 1);
	outline: none;
}


/* Карточка товара */

.catalog-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.catalog-item {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 267px;
	margin-right: 26px;
	margin-bottom: 30px;
	padding-top: 7px;
}

.catalog-item:nth-child(4n) {
	margin-right: 0;
}

.catalog-item-title {
	order: 1;
	margin: 0 0 10px 0;
	font-size: 16px;
	text-align: center;
}

.catalog-item-title a {
	font-weight: 500;
	color: #ffffff;

	background-image: linear-gradient(to top, transparent 1px, rgba(255, 255, 255, 0.2) 1px, rgba(255, 255, 255, 0.2) 2px, transparent 2px);
}

.catalog-item-title a:hover,
.catalog-item-title a:focus,
.catalog-item-title a:active {
	color: #ffbc9e;
	background-image: linear-gradient(to top, transparent 1px, rgba(249, 172, 159, 0.3) 1px, rgba(249, 172, 159, 0.3) 2px, transparent 2px);
	}

.catalog-item-image {
	margin: 0 0 15px 0;
}

.catalog-item-image img {
	border-radius: 50%;
}

.catalog-item-price {
	position: absolute;
	margin: 0;
	top: 215px;
	font-size: 45px;
	line-height: 45px;
	text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
  
}

.catalog-item-price .weight {
	font-size: 30px;
}

.button-preview {
	position: absolute;
	top: 340px;
	align-self: center;
	order: 2;
}

.catalog-pagination {
	list-style: none;
}

.catalog-pagination a {
	display: block;
	width: 27px;
	height: 26px;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	color: #ffffff;

	border-radius: 50%;
}

.catalog-pagination a:hover,
.catalog-pagination a:focus {
	background-color: rgba(255, 255, 255, 0.2);
}

.catalog-pagination a:active {
	color: #323232;
	background-color: #ffffff;
}

.catalog-pagination-current a {
	color: #323232;
	background-color: #ffffff;
}

.Подложка {
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 1006px;
  top: 1486px;
  width: 27px;
  height: 26px;
  z-index: 40;
}

/* Футер */

.main-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main-footer a {
	color: #ffffff;
}

.footer-social {
	display: flex;
	margin: 0;
	padding: 0;

	list-style: none;
}

.footer-navigation {
	display: flex;
	flex-wrap: wrap;
	width: 365px;
	margin: 0;
	padding: 0;

	list-style: none;
}



.footer-navigation li:nth-child(odd) {
	width: 120px;
	padding-left: 30px;
	margin-right: 20px;
}

.footer-navigation li:nth-child(even) {
	width: 170px;
}


.footer-navigation a {
	font-weight: 400;
	font-size: 13px;
	line-height: 18px;

	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}



.for-provider a {
	font-weight: 700;
}


.footer-navigation a:hover,
.footer-navigation a:focus,
.footer-navigation a:active {
	color: #ffbc9e;
	border-bottom-color: rgba(249, 172, 159, 0.3);
}

.footer-copyright {
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
}

.copyright-htmlacademy {
	margin: 0;
}

.copyright-htmlacademy a {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.copyright-htmlacademy a:hover,
.copyright-htmlacademy a:focus,
.copyright-htmlacademy a:active {
	color: #ffbc9e;
	border-bottom-color: rgba(249, 172, 159, 0.3);
}





.modal-feedback {
	width: 428px;
	padding: 18px 24px;

	color: #323232;

	background-color: #f8f7f4;
	border-radius: 10px;
}

.modal-feedback > p {
	margin: 0;

	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
}

.feedback-form input,
.feedback-form textarea {
	box-sizing: border-box;
	font: inherit;
	font-weight: 700;
	line-height: 24px;

	background-color: #ffffff;
	border: 1px solid transparent;
	border-radius: 5px;
	box-shadow: 0 0 0 1px #d3d3d2;
}

.feedback-form input {
	width: 267px;
}

.feedback-form textarea {
	width: 100%;
	padding: 10px 14px;
}

.feedback-form input::-webkit-input-placeholder,
.feedback-form textarea::-webkit-input-placeholder {
	font-weight: 400;
	color: #999999;
}

.feedback-form input::-moz-placeholder, 
.feedback-form textarea::-moz-placeholder {
	font-weight: 400;
	color: #999999;
}

.feedback-form input:-ms-input-placeholder, 
.feedback-form textarea:-ms-input-placeholder {
	font-weight: 400;
	color: #999999;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
	border: 1px solid #c7c6c5;
	box-shadow: 0 0 0 1px #c7c6c5;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
	border: 1px solid #8fbdec;
	box-shadow: 0 0 0 1px #8fbdec;
	outline: none;
}

.feedback-form .button {
	margin-bottom: 10px;
}

